.App {
  text-align: center;
  background-color: #121213;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  font-size: calc(10px + 2vmin);
  padding: 10px;
  margin-bottom: 2rem;
  font-weight: bold;
}

.App-header p {
  margin: 0;
}

.App-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

/* GAME RESULT */

.message-area {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-result {
  font-size: 2rem;
  background: #ddd;
  border-radius: 0.2em;
  padding: 0.3em 0.5em;
  color: #121213;
  font-weight: bold;
  margin: 0;
}

/* SQUARES */

.squares {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squares-row {
  display: flex;
  flex-direction: row;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3a3a3c;
  width: 2em;
  height: 2em;
  margin: 0.2rem;
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 2rem;
}

.square--color-gray {
  background-color: #3a3a3c;
}

.square--color-green {
  background-color: #6aaa64;
  border: none;
}

.square--color-yellow {
  background-color: #c9b458;
  border: none;
}

/* KEYBOARD */

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
}

.keyboard-key {
  background: #818384;
  color: white;
  border-radius: 4px;
  box-shadow: none;
  border: 0;
  height: 2.7em;
  min-width: 2.1em;
  margin: 0.3em;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 3.3vw, 1.3rem);
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.keyboard-key:hover {
  opacity: 0.8;
}

.keyboard-key.keyboard-key--color-gray {
  background: #3a3a3c;
}

.keyboard-key.keyboard-key--color-green {
  background: #6aaa64;
}

.keyboard-key.keyboard-key--color-yellow {
  background: #c9b458;
}
